
<!doctype html>
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 12px;
        }

        u.b {
            font-family: Arial;
            font-size: 12px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }

        td {
            line-height: 15px;
            padding: 0 15px;
            text-align: justify;
            vertical-align: top;
            width: 50%;
        }

            td.first {
                border-right: 3px solid #FFFFF;
            }
    </style>
</head>

<body style="text-align: justify;">

    <br>
    <br>
    <table>
        <tr>
            <td class="first">
                <p class="b">
                    <b>
                        <u class="b">LEY GENERAL DE ORGANIZACIONES Y ACTIVIDADES AUXILIARES DEL CRÉDITO</u>
                    </b>
                </p>

                <p class="b">
                    <b><u>ARTÍCULO 56.-</u></b> La inspección y vigilancia de las organizaciones auxiliares del crédito, casas de cambio y sociedades financieras de objeto múltiple reguladas queda confiada a la Comisión Nacional Bancaria y de Valores, la que tendrá, en lo que no se oponga a esta Ley, respecto de dichas organizaciones auxiliares del crédito, casas de cambio y sociedades financieras de objeto múltiple reguladas, todas las facultades que en materia de inspección y vigilancia le confiere la Ley de Instituciones de Crédito para instituciones de banca múltiple, quien la llevará a cabo sujetándose a lo previsto en su ley, en el Reglamento respectivo y en las demás disposiciones que resulten aplicables. En lo que respecta a las sociedades financieras de objeto múltiple no reguladas, los centros cambiarios y los transmisores de dinero, la inspección y vigilancia de estas sociedades, se llevará a cabo por la mencionada Comisión, exclusivamente para verificar el cumplimiento de los preceptos a que se refiere el artículo 95 Bis de esta Ley y las disposiciones de carácter general que de éste deriven. Las organizaciones auxiliares del crédito y casas de cambio deberán rendir a la Secretaría de Hacienda y Crédito Público y a la Comisión Nacional Bancaria y de Valores, en la forma y términos que al efecto establezcan, los informes, documentos y pruebas que sobre su organización, operaciones, contabilidad, inversiones o patrimonio les soliciten para fines de regulación, supervisión, control, inspección, vigilancia, estadística y demás funciones que, conforme a esta Ley u otras disposiciones legales y administrativas, les corresponda ejercer.
                </p>

                <p class="b">
                    <b><u>ARTÍCULO 87-B.-</u></b> El otorgamiento de crédito, así como la celebración de arrendamiento financiero o factoraje financiero podrán realizarse en forma habitual y profesional por cualquier persona sin necesidad de requerir autorización del Gobierno Federal para ello.<br>
                    Para todos los efectos legales, solamente se considerará como sociedad financiera de objeto múltiple a la sociedad anónima que cuente con un registro vigente ante la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros, para lo cual deberán ajustarse a los requisitos siguientes:<br>
                    I.	Deberán contemplar expresamente como objeto social principal la realización habitual y profesional de una o más de las actividades de otorgamiento de crédito, arrendamiento financiero o factoraje financiero;<br>
                    II.	En forma complementaria a las actividades mencionadas, podrán considerar como parte de su objeto social principal, la administración de cualquier tipo de cartera crediticia, así como otorgar en arrendamiento bienes muebles o inmuebles, siempre que así se encuentre contemplado en sus estatutos, en cuyo caso se considerarán como ingresos provenientes de su objeto principal, los ingresos, documentos o cuentas por cobrar que deriven de dichas actividades en tanto éstos no excedan del treinta por ciento del total de los ingresos de la sociedad;<br>
                    III.	 Deberán agregar a su denominación social la expresión "sociedad financiera de objeto múltiple" o su acrónimo "SOFOM", seguido de las palabras "entidad regulada" o su abreviatura "E.R." o “entidad no regulada” o su abreviatura “E.N.R”, según corresponda;<br>
                    IV.	 Deberán contar con el dictamen técnico favorable vigente a que se refiere el artículo 87-P de la presente Ley, tratándose de sociedades financieras de objeto múltiple no reguladas, y V. Los demás que establezca la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros mediante disposiciones de carácter general.<br>
                    Las sociedades financieras de objeto múltiple se reputarán entidades financieras, que podrán ser sociedades financieras de objeto múltiple reguladas o sociedades financieras de objeto múltiple no reguladas.<br>
                    Las sociedades financieras de objeto múltiple reguladas serán aquellas que mantengan vínculos patrimoniales con instituciones de crédito, sociedades financieras populares con Niveles de Operación I a IV, sociedades financieras comunitarias con Niveles de Operación I a IV o con sociedades cooperativas de ahorro y préstamo con Niveles de Operación I a IV; aquellas que emitan valores de deuda a su cargo, inscritos en el Registro Nacional de Valores conforme a la Ley del Mercado de Valores en términos de lo previsto en el párrafo siguiente; y aquellas que obtengan la aprobación de la Comisión Nacional Bancaria y de Valores en términos del artículo 87-C Bis 1 de esta Ley, para ajustarse al
                </p>
                <p class="b">
                    El estado de cuenta citado en el primer párrafo de este artículo deberá
                    contener los datos sobre la identificación del contrato o convenio en donde
                    conste el crédito, el factoraje financiero o el arrendamiento financiero que
                    se haya otorgado; el capital inicial dispuesto o, en su caso, el importe de las
                    rentas determinadas; el capital o, en su caso, las rentas vencidas no
                    pagadas; el capital o, en su caso, las rentas pendientes por vencer; las
                    tasas de interés del crédito o, en su caso, la variabilidad de la renta
                    aplicable a las rentas determinables a cada período de pago; los intereses
                    moratorios generados; la tasa de interés aplicable a intereses moratorios, y
                    el importe de accesorios generados.

                </p>
                <p align="center" class="b"><b><u>LA LEY GENERAL DE TÍTULOS Y OPERACIONES DE CRÉDITO</u></b></p>
                <p class="b">
                    <b><u>ARTÍCULO 291.-</u></b> En virtud de la apertura de crédito, el acreditante se obliga
                    a poner una suma de dinero a disposición del acreditado, o a contraer por
                    cuenta de éste una obligación, para que el mismo haga uso del crédito
                    concedido en la forma y en los términos y condiciones convenidos ,
                    quedando obligado el acreditado a restituir al acreditante las sumas de que
                    disponga, o a cubrirlo oportunamente por el importe de la obligación que
                    contrajo, y en todo caso a pagarle los intereses, prestaciones, gastos y
                    comisiones que se estipulen.
                </p>
                <p class="b">
                    <b><u>ARTÍCULO 299.-</u></b> El otorgamiento o transmisión de un título de crédito o de
                    cualquier otro documento por el acreditado al acreditante, como
                    reconocimiento del adeudo que a cargo de aquél resulte en virtud de las
                    disposiciones que haga del crédito concedido, no facultan al acreditante
                    para descontar o ceder el crédito así documentado, antes de su
                    vencimiento, sino hasta cuando el acreditado lo autorice a ello
                    expresamente.<br />
                    Negociado o cedido el crédito por el acreditante, éste abonara al acreditado ,
                    desde la fecha de tales actos, los intereses correspondientes al importe de
                    la disposición de que dicho crédito proceda, conforme al tipo estipulado en
                    la apertura de crédito; pero el crédito concedido no se entenderá renovado
                    por esa cantidad, sino cuando las partes así lo hayan convenido

                </p>
                <p align="center" class="b"><b><u>CODIGO DE PROCEDIMIENTOS CIVILES PARA EL DISTRITO FEDERAL</u></b></p>
                <p class="b">
                    <b><u>ARTÍCULO 443.-</u></b> para que el juicio ejecutivo tenga lugar se necesita un
                    título que lleve aparejada ejecución.
                    Traen aparejada ejecución:
                    I.- La primera copia de una escritura pública expedida por el juez o notario
                    ante quien se otorgó;<br />
                    II.- Las ulteriores copias dadas por mandato judicial, con citación de la
                    persona a quien interesa;<br />
                    III.- Los demás instrumentos públicos que conforme al artículo 333 hacen
                    prueba plena;<br />
                    IV.- Cualquier documento privado después de reconocido por quien lo hizo o
                    lo mando extender; basta con que se reconozca la firma aun cuando se
                    niegue la deuda;<br />
                    V.- La confesión de la deuda hecha ante juez competente por el deudor o
                    por su representante con facultades para ello;<br />
                    VI.- Los convenios celebrados en el curso de un juicio ante el juez, ya sea
                    de las partes entre sí o de terceros que se hubieren obligado como
                    fiadores, depositarios, o en cualquier otra forma;<br />
                    VII.- Las pólizas originales de contratos celebrados con intervención de
                    corredor público;<br />
                    VIII.- El juicio uniforme de contadores si las partes ante el juez o por
                    escritura pública o por escrito privado reconocido judicialmente se hubieren
                    sujetado a él expresamente o lo hubieren aprobado.
                </p>
                <p class="b">
                    En los actos de comercio y en la formación de los mismos podrán emplearse
                    los medios electrónicos, ópticos o cualquier otra tecnología.
                    Para efecto del presente Código, se deberán tomar en cuenta las siguientes
                    definiciones:<br />
                    <b>Certificado:</b> Todo Mensaje de Datos u otro registro que confirme el vínculo
                    entre un Firmante y los datos de creación de Firma Electrónica.<br />
                    <b>Datos de Creación de Firma Electrónica:</b> Son los datos únicos, como
                    códigos o claves criptográficas privadas, que el Firmante genera de manera
                    secreta y utiliza para crear su Firma Electrónica, a fin de lograr el vínculo
                    entre dicha Firma Electrónica y el Firmante.<br />
                    <b>Destinatario:</b> La persona designada por el Emisor para recibir el Mensaje
                    de Datos, pero que no esté actuando a título de Intermediario con respecto a
                    dicho Mensaje.
                    <b>Digitalización:</b> Migración de documentos impresos a mensaje de datos, de
                    acuerdo con lo dispuesto en la norma oficial mexicana sobre digitalización y
                    conservación de mensajes de datos que para tal efecto emita la Secretaría.<br />
                    <b>Emisor:</b> Toda persona que, al tenor del Mensaje de Datos, haya actuado a
                    nombre propio o en cuyo nombre se haya enviado o generado ese mensaje
                    antes de ser archivado, si éste es el caso, pero que no haya actuado a
                    título de Intermediario.<br />
                    <b>Firma Electrónica:</b> Los datos en forma electrónica consignados en un
                    Mensaje de Datos, o adjuntados o lógicamente asociados al mismo por
                    cualquier tecnología, que son utilizados para identificar al Firmante en
                    relación con el Mensaje de Datos e indicar que el Firmante aprueba la
                    información contenida en el Mensaje de Datos, y que produce los mismos
                    efectos jurídicos que la firma autógrafa, siendo admisible como prueba en
                    juicio. Firma Electrónica Avanzada o Fiable: Aquella Firma Electrónica que
                    cumpla con los requisitos contemplados en las fracciones I a IV del artículo
                    97. En aquellas disposiciones que se refieran a Firma Digital, se considerará
                    a ésta como una especie de la Firma Electrónica.<br />
                    <b>Firmante:</b> La persona que posee los datos de la creación de la firma y que
                    actúa en nombre propio o de la persona a la que representa.<br />
                    <b>Intermediario:</b> En relación con un determinado Mensaje de Datos, se
                    entenderá toda persona que, actuando por cuenta de otra, envíe, reciba o
                    archive dicho Mensaje o preste algún otro servicio con respecto a él.<br />
                    <b>Mensaje de Datos:</b> La información generada, enviada, recibida o
                    archivada por medios electrónicos, ópticos o cualquier otra tecnología.<br />
                    <b>Parte que Confía:</b> La persona que, siendo o no el Destinatario, actúa
                    sobre la base de un Certificado o de una Firma Electrónica.<br />
                    <b>Prestador de Servicios de Certificación:</b> La persona o institución
                    pública que preste servicios relacionados con firmas electrónicas, expide
                    los certificados o presta servicios relacionados como la conservación de
                    mensajes de datos, el sellado digital de tiempo y la digitalización de
                    documentos impresos, en los términos que se establezca en la norma oficial
                    mexicana sobre digitalización y conservación de mensajes de datos que
                    para tal efecto emita la Secretaría.<br />
                    <b>Secretaría:</b> Se entenderá la Secretaría de Economía.<br />
                    <b>Sello Digital de Tiempo:</b> El registro que prueba que un dato existía antes
                    de la fecha y hora de emisión del citado Sello, en los términos que se
                    establezca en la norma oficial mexicana sobre digitalización y conservación
                    de mensajes de datos que para tal efecto emita la Secretaría.<br />
                    <b>Sistema de Información:</b> Se entenderá todo sistema utilizado para
                    generar, enviar, recibir, archivar o procesar de alguna otra forma Mensajes
                    de Datos.<br />
                    <b>Titular del Certificado:</b> Se entenderá a la persona a cuyo favor fue
                    expedido el Certificado.

                </p>
            </td>
            <td class="second">
                <p class="b">
                    aquellas que emitan valores de deuda a su cargo, inscritos en el Registro
                    Nacional de Valores conforme a la Ley del Mercado de Valores en términos
                    de lo previsto en el párrafo siguiente; y aquellas que obtengan la aprobación
                    de la Comisión Nacional Bancaria y de Valores en términos del artículo 87-C
                    Bis 1 de esta Ley, para ajustarse al régimen de entidad regulada, que no se
                    sitúen en alguno de los demás supuestos contemplados en este párrafo; y
                    estarán sujetas a la supervisión y vigilancia de la Comisión Nacional
                    Bancaria y de Valores de conformidad con lo dispuesto en el artículo 56 de
                    esta Ley, sin perjuicio de las atribuciones que esta Ley confiere a la
                    Comisión Nacional para la Protección y Defensa de los Usuarios de
                    Servicios Financieros en las normas aplicables.
                    <br />
                    Para efectos de lo previsto en el párrafo anterior, se consideraran
                    sociedades financieras de objeto múltiple reguladas aquéllas que emitan
                    valores de deuda a su cargo, inscritos en el Registro Nacional de Valores
                    conforme a la Ley del Mercado de Valores, o bien, tratándose de títulos
                    fiduciarios igualmente inscritos en el citado Registro, cuando el cumplimiento
                    de las obligaciones en relación con los títulos que se emitan al amparo del
                    fideicomiso dependan total o parcialmente de dicha sociedad, actuando
                    como fideicomitente, cedente o administrador del patrimonio fideicomitido, o
                    como garante o avalista de los referidos títulos.
                    <br />
                    Las sociedades financieras de objeto múltiple no reguladas serán aquellas
                    que no se ubiquen en los supuestos de los párrafos anteriores.
                    Las sociedades financieras de objeto múltiple podrán actuar como
                    comisionistas de otras entidades financieras, en los términos y condiciones
                    que establezca la legislación y disposiciones aplicables a estas últimas.
                    Las sociedades financieras de objeto múltiple reguladas y no reguladas ,
                    deberán proporcionar la información o documentación que les requieran en
                    el ámbito de su competencia la Secretaría de Hacienda y Crédito Público, la
                    Comisión Nacional Bancaria y de Valores, el Banco de México y la Comisión
                    Nacional para la Protección y Defensa de los Usuarios de Servicios
                    Financieros, dentro de los plazos que tales autoridades señalen.
                    Las sociedades financieras de objeto múltiple no reguladas deberán
                    proporcionar a la Comisión Nacional para la Protección y Defensa de los
                    Usuarios de Servicios Financieros, la información agregada que ésta les
                    requiera con fines estadísticos.<br />
                    La Comisión Nacional Bancaria y de Valores, la Comisión Nacional para la
                    Protección y Defensa de los Usuarios de Servicios Financieros y el Banco
                    de México, en ejercicio de sus atribuciones de supervisión, inspección y
                    vigilancia, podrán imponer multas de doscientos a dos mil días de salario
                    mínimo general vigente en el Distrito Federal en la fecha de la infracción, a
                    las referidas sociedades, cuando éstas se abstengan de proporcionar la
                    información o documentación que cada autoridad les requiera, en los plazos
                    que se determinen, o bien, cuando la presenten de manera incorrecta o de
                    forma extemporánea.
                    Las sociedades financieras de objeto múltiple no reguladas estarán sujetas
                    a la supervisión de la Comisión Nacional Bancaria y de Valores, de
                    conformidad con lo dispuesto por el segundo párrafo del artículo 56 de esta
                    Ley, para lo cual, la mencionada Comisión tomara como base la información
                    a que se refiere el artículo 87-K de la misma Ley.
                </p>
                <p class="b">
                    <b><u>ARTÍCULO 87-F.-</u></b>
                    El contrato en que se haga constar el crédito,
                    arrendamiento financiero o factoraje financiero que otorguen las
                    sociedades financieras de objeto múltiple, siempre que dicho instrumento
                    vaya acompañado de la certificación del estado de cuenta respectivo a que
                    se refiere el artículo anterior, será título ejecutivo mercantil, sin necesidad
                    de reconocimiento de firma ni de otro requisito alguno.
                    Tratándose del factoraje financiero, además del contrato respectivo, las
                    sociedades financieras de objeto múltiple deberán contar con los
                    documentos que demuestren los derechos de crédito transmitidos por virtud
                    de dicha operación, así como la notificación al deudor de dicha transmisión
                    cuando ésta deba realizarse de acuerdo con las disposiciones aplicables.
                </p>
                <p class="b">
                    IX.- El estado de liquidación de adeudos, intereses moratorios y /o pena
                    convencional que se haya estipulado en la asamblea general de
                    condóminos, suscrita por el administrador y/o comité vigilancia (sic), en el
                    que se incluya copia certificada por notario público o por la procuraduría
                    social del distrito federal, del acta de asamblea general relativa y /o del
                    reglamento interno del condominio o conjunto condominal, en el que se haya
                    determinado las cuotas a cargo de los condóminos o poseedores para los
                    fondos de mantenimiento, administración, reserva, intereses y demás
                    obligaciones de los condóminos. De acuerdo a lo estipulado en el párrafo
                    tercero del artículo 59 de la nueva ley de propiedad en condominio de
                    inmuebles para el distrito federal.<br />
                    X.- Los convenios emanados del procedimiento de mediación que cumplan
                    con los requisitos previstos en la ley de justicia alternativa del tribunal
                    superior de justicia para el distrito federal, y
                    XI.- Los demás a los que se les reconozca ese carácter por la ley.
                </p>
                <p align="center" class="b">
                    <b>
                        <u>
                            DISPOSICIONES DE CARÁCTER GENERAL EN MATERIA DE
                            TRANSPARENCIA APLICABLES A LAS SOCIEDADES FINANCIERAS DE
                            OBJETO MÚLTIPLE, ENTIDADES NO REGULADAS.
                        </u>
                    </b>
                </p>
                <p class="b">
                    <b><u>Artículo 6.-</u></b> Las Entidades Financieras deben entregar junto con el Contrato
                    de Adhesión, una caratula por cada operación o servicio contratado. Dicha
                    caratula reunirá los siguientes requisitos:<br />
                    I. Estar contenida en el máximo de una página, en tipografía de al menos 8
                    puntos;<br />
                    II. Ser personalizada a cada Usuario y contener la información actualizada al
                    momento de la contratación;<br />
                    III. Contener las características de la operación, respetando el formato y el
                    orden que se señala en el Anexo 1, sin agregar o eliminar información o
                    remitir a otro documento excepto cuando lo permita la guía de llenado
                    contenida en el propio Anexo, en tal forma que se permita al Usuario
                    comparar los servicios ofrecidos por diversas Entidades Financieras, y <br />
                    IV. En productos de crédito, cuando apliquen, incorporar las siguientes
                    leyendas de advertencia respecto a:<br />
                    a) Tasas de interés variable: “Al ser tu crédito de tasa variable, los
                    intereses pueden aumentar”;<br />
                    b) Comisiones que correspondan a penalidades para el Usuario y los
                    supuestos en que son aplicables: “Incumplir tus obligaciones te puede
                    generar Comisiones e intereses moratorios”;<br />
                    c) Exceder la capacidad de pago: “Contratar créditos que excedan tu
                    capacidad de pago afecta tu historial crediticio”;<br />
                    d) Pago mínimo en tarjeta de crédito: “Realizar solo el pago mínimo aumenta
                    el tiempo de pago y el costo de la deuda”;<br />
                    e) Avalista, obligado solidario o coacreditado: “El avalista, obligado solidario
                    o coacreditado responderá como obligado principal por el total del pago
                    frente a la Entidad Financiera”, o<br />
                    f) Crédito en moneda extranjera, UDI u otras variables: “Los montos a pagar
                    de este crédito varían conforme al comportamiento de la moneda o índice de
                    referencia.”.
                </p>
                <p align="center" class="b">
                    <b>
                        <u>
                            CÓDIGO DE COMERCIO
                        </u>
                    </b>
                </p>
                <p class="b">
                    <b><u>Artículo 89.-</u></b> Las disposiciones de este Título regirán en toda la República
                    Mexicana en asuntos del orden comercial, sin perjuicio de lo dispuesto en
                    los tratados internacionales de los que México sea parte.<br />
                    Las actividades reguladas por este Título se someterán en su interpretación
                    y aplicación a los principios de neutralidad tecnológica, autonomía de la
                    voluntad, compatibilidad internacional y equivalencia funcional del Mensaje
                    de Datos en relación con la información documentada en medios no
                    electrónicos y de la Firma Electrónica en relación con la firma autógrafa.
                </p>
                <p class="b">
                    <b><u>Artículo 89 bis.-</u></b> No se negarán efectos jurídicos, validez o fuerza
                    obligatoria a cualquier tipo de información por la sola razón de que esté
                    contenida en un Mensaje de Datos. Por tanto, dichos mensajes podrán ser
                    utilizados como medio probatorio en cualquier diligencia ante autoridad
                    legalmente reconocida, y surtirán los mismos efectos jurídicos que la
                    documentación impresa, siempre y cuando los mensajes de datos se
                    ajusten a las disposiciones de este Código y a los lineamientos normativos
                    correspondientes.

                </p>
            </td>
        </tr>
    </table>

</body>
</html>