
<!doctype html>
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 12px;
        }

        u.b {
            font-family: Arial;
            font-size: 12px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }
    </style>
</head>

<body style="text-align: justify;">
    <div>
        <div style="clear:both;">
            <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
                <tbody>
                    <tr style="height:36.75pt;">
                        <td style="width:73.5pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:237.75pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:68.25pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td rowspan="2" style="width:113.25pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; font-size:1pt;"><img src="https://myfiles.space/user_files/74326_110ad65ee8cab72e/1610401219_referenciaunicadepago/1610401219_referenciaunicadepago.001.png" width="151" height="76" alt="ooxWord://media/image.png"></p>
                        </td>
                        <td style="width:45pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                    </tr>
                    <tr style="height:19.5pt;">
                        <td style="width:73.5pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:237.75pt; vertical-align:middle; background-color:#d3d3d3;">
                            <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:15pt;"><strong><span style="font-family:Arial; font-size:13pt;">Referencia única de Pago</span></strong></p>
                        </td>
                        <td style="width:68.25pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:45pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                    </tr>
                    <tr style="height:3pt;">
                        <td style="width:73.5pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:237.75pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:68.25pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:113.25pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                        <td style="width:45pt; vertical-align:top;">
                            <p style="margin-top:0pt; margin-bottom:0pt; line-height:0%; font-size:1pt;"><span style="font-family:Calibri;">&nbsp;</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><b>En qué momento debe hacer uso de estos datos:</b></p>
            <table>
                <tr>
                    <td>
                        <p>
                            <b>
                                • Baja de la dependencia<br>
                                • Permiso sin goce de sueldo<br>
                                • Renuncia voluntaria<br>
                                • Abono a capital<br>
                                • Liquidación antícipada<br>
                                • Pago por domiciliación no realizada
                            </b>
                        </p>
                    </td>
            </table>
            <p><b>DATOS DEL CRÉDITO</b></p>
            <p>FECHA DE OPERACIÓN:<b>  29/02/2020</b></p>
            <p>PAGO: <b> QUINCENAL  $ 2,081.22</b></p>
            <p>
                NOMBRE:  JESUS RAMOS LOPEZ,  se obliga a pagar a “APRECIA” de acuerdo a la tabla de amorƟzaciones la cual formara
                parte integral del contrato.
            </p>
            <p>
                En caso de incumplimiento de contrato se procederá a   cobrar adicional a lo esƟpulado por la tabla de amorƟzaciones,
                intereses moratorios y gastos de cobranza.
            </p>
            <p>
                A conƟnuación le proporcionamos las referencias con las que usted podrá realizar sus pagos QUINCENALES de su crédito
                número:  C-2220028840. <br>
                Es muy importante realizar el pago en la  fecha que le corresponda, y en el número de REFERENCIA correcta.
            </p>
            <p><b>FORMAS DE PAGO</b></p>
            <p>1)  BBVA BANCOMER</p>
            <p>
                Paga a través de (a) la PractiCaja con la opción "Pago de Servicios", (b) BancomerMovil en la opción "Pagar"
                elige "Servicios" y busca la opción "Otro", (c) en Ventanilla del banco:
            </p>
            <DIV align="center">

                <table>
                    <tr>
                        <td>
                            <p class="b">CUENTA BANCARIA<br>___________________</p>
                        </td>
                        <td><p class="b">REFERENCIA Y CONCEPTO DE PAGO<br>_____________________</p>

                    </tr>
                    <tr>
                        <td><p>0188202664<br>___________________</p></td>
                        <td><p>22200288409<br>___________________</p></td>

                    </tr>
                </table>
            </DIV>


            <p>2)  OXXO Muestra el Código de Barras o la referencia numérica cuando vayas a pagar:</p>
            <DIV align="center">
                <table>
                    <tr>

                        <td>
                            <p class="b"><u>REFERENCIA</u></p>
                            <p class="b">1600002220028840132073</p>
                        </td>

                    </tr>
                </table>
            </DIV>
            <p>3)  Si transĮeres desde Otros Bancos, capturar la referencia en "Concepto" o "Motivo de Pago":</p>
            <DIV align="center">
                <table>
                    <tr>
                        <td>
                            <p class="b">BANCO O INSTITUCIÓN<br>___________________</p>
                        </td>
                        <td><p class="b">CLABE INTERBANCARIA<br>___________________</p></td>
                        <td><p class="b">CONCEPTO O MOTIVO DE PAGO<br>___________________</p></td>
                    </tr>
                    <tr>
                        <td><p>BBVA BANCOMER<br>___________________<p></td>
                        <td><p>012180001882026643<br>___________________<p></td>
                        <td><p>22200288409<br>___________________<p></td>
                    </tr>
                </table>
            </DIV>
            <br>
            <p>
                Quedo enterado de las referencias en donde puedo realizar los pagos de mi crédito contratado.<br>
                Si usted tiene alguna duda o aclaración se puede comunicar al  01 800 990 91 92, Opción 1 ó 2, o en la página  www.aprecia.com.mx
            </p>

        </div>
</body>
</html>