
<!doctype html>
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 12px;
        }

        u.b {
            font-family: Arial;
            font-size: 12px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }
    </style>
</head>

<body style="text-align: justify;">

    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="height:0pt; display:block; position:absolute; z-index:3;"><img src="https://myfiles.space/user_files/75531_ee21bbd708a9a111/1611588880_formato-proyecto-de-obra/1611588880_formato-proyecto-de-obra.002.png" width="341" height="57" alt="" style="margin: 0 0 0 auto; text-align: right; display: block; "></span><img src="https://myfiles.space/user_files/75531_ee21bbd708a9a111/1611588880_formato-proyecto-de-obra/1611588880_formato-proyecto-de-obra.001.png" width="133" height="64" alt="Descripción: 2013-12-20-18-21-33_Logo Apreicia Hor - Sin Fondo" style="float: right; text-align: right; display: inline-block; "></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p align="right" style="font-family:Calibri; color:#552988;">En:______________________a_______de____________del______________</p>


    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">Reunidos por una parte el</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">sr(a)________________________________________________Con&nbsp;&nbsp; el</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">domicilio particular ubicado en Calle</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">________________________________Col_________________&nbsp;&nbsp; </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">Municipio</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">___________Estado___________________C.P.___________________Y por otra parte el &nbsp;&nbsp; </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">sr(a)</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">___________quien se desempeña como ________________________________con el de fin de &nbsp;&nbsp; </p>

    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">pactar la realización de la obra para la remodelación, ampliación o mejora de mi vivienda, descritas a </span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;"> &nbsp;&nbsp; </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;">
        <span style="font-family:Calibri; color:#552988;">
            continuación:
        </span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;"> &nbsp;&nbsp;
    </p>

    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="height:0pt; text-align:left; display:block; position:absolute; z-index:7;"><img src="https://myfiles.space/user_files/75531_ee21bbd708a9a111/1611588880_formato-proyecto-de-obra/1611588880_formato-proyecto-de-obra.003.png" width="33" height="36" alt="Descripción: 2013-12-20-18-21-33_Logo Apreicia Hor - Sin Fondo" style="margin: 0 auto 0 0; text-align: left; display: block; "></span><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="height:0pt; text-align:left; display:block; position:absolute; z-index:0;"><img src="https://myfiles.space/user_files/75531_ee21bbd708a9a111/1611588880_formato-proyecto-de-obra/1611588880_formato-proyecto-de-obra.004.png" width="73" height="275" alt="" style="margin: 0 0 0 auto; text-align: right; display: block; "></span><span style="width:36pt; display:inline-block;">&nbsp;</span></p>



    <p style="margin-top:0pt; margin-bottom:0pt; text-indent:36pt; text-align:justify; line-height:200%; font-size:11pt;">
        &nbsp;-------------------------------------------------------------------------------------------------------<span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-indent:36pt; text-align:justify; line-height:200%; font-size:11pt;">
        &nbsp;-------------------------------------------------------------------------------------------------------<span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-indent:36pt; text-align:justify; line-height:200%; font-size:11pt;">
        &nbsp;-------------------------------------------------------------------------------------------------------<span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>

    <p style="margin-top:0pt; margin-bottom:0pt; text-indent:36pt; text-align:justify; line-height:200%; font-size:11pt;">
        &nbsp;-------------------------------------------------------------------------------------------------------<span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-indent:36pt; text-align:justify; line-height:200%; font-size:11pt;">
        &nbsp;-------------------------------------------------------------------------------------------------------<span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="width:36pt; text-indent:0pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:Calibri; color:#552988;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>



    <p style="margin-top:0pt; margin-bottom:0pt; line-height:150%; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">El tiempo estimado para la conclusi&oacute;n de la obra es de __________________________.</span></p>

    <p style="margin-top:0pt; margin-bottom:0pt; line-height:150%; font-size:11pt;"><strong><span style="font-family:Calibri; color:#552988;">&nbsp;</span></strong></p>


    <table>
        <tr>
            <td width="400">


                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span><span style="font-family:Calibri; color:#552988;">Contratista</span></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;"><span style="font-family:'Arial Black'; color:#552988;">&nbsp;</span></p>

            <td>

                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">Contratante</span></p>
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span><span style="font-family:Calibri; color:#552988;"></span></p>
            </td>

        </tr>
        <tr>
            <td width="400">

                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><u><span style="font-family:Calibri; color:#552988;">___________________________</span></u></p>
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span><span style="font-family:Calibri; color:#552988;">Nombre Completo y Firma</span></p>
                <p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;"><span style="font-family:'Arial Black'; color:#552988;">&nbsp;</span></p>

            <td>

                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><u><span style="font-family:Calibri; color:#552988;">___________________________</span></u></p>
                <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span><span style="font-family:Calibri; color:#552988;">Nombre Completo y Firma</span></p>
            </td>

        </tr>

    </table>


</body>
</html>