
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 10px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }

        p.solid {
            border-style: groove;
        }

        table.data, td.data, th {
            border: 1px solid black;
        }

        table.data {
            width: 100%;
            border-collapse: collapse;
        }

        table.x, td.x, th.x {
            border: 0px solid black;
        }
    </style>
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8">
</head>

<body style="text-align: justify;">
    <table>
        <tr>
            <td style="width:650px;">
                <p class="b">
                    <b>
                        SOLICITUD DEL CRÉDITO<br>
                        NÚMERO DE REGISTRO DE CONTRATOS DE ADHESIÓN: 2028-440-004742/15-04446-1019
                    </b>
                </p>
            </td>
            <td>
                <p class="b">No. PAGARE:</p>
            </td>
            <td>
                <p class="b"><b><u>2220028840</u></b></p>
            </td>
        </tr>
    </table>
    <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">DATOS DEL CRÉDITO</p>
    <table>
        <tr>
            <td style="width:100px;">
                <p class="b">
                    TIPO DE CRÉDITO:
                </p>
            </td>
            <td style="width:200px;">
                <p class="b" align="center"><b><u>EN CUENTA CORRIENTE</u></b></p>
            </td>
            <td>&nbsp;</td>
            <td style="width:200px;">
                <p class="b">DESTINO DEL CRÉDITO: </p>
            </td>
            <td style="width:200px;">
                <p class="b" align="center"><b><u>CONSUMO</u></b></p>
            </td>
            <td style="width:100px;">
                <p class="b">FECHA: </p>
            </td>
            <td style="width:100px;">
                <p class="b" align="center"><b><u>10/FEBRERO/2020</u></b></p>
            </td>
        </tr>
    </table>
    <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
        DATOS DEL SOLICITANTE
    </p>
    <table>
        <tr style="height:5px;">
            <td style="width:100px;">
                <p class="b">JESUS</p>
            </td>
            <td>
                <p class="b">RAMOS</p>
            </td>
            <td style="width:100px;">
                <p class="b">lOPEZ</p>
            </td>
            </td>
            <td style="width:250px;">
                <p class="b">lOPEZ</p>
            </td>
            <td style="width:50px;">
                <p class="b">SEXO</p>
            </td>
            <td style="width:10px;">
                <p class="b">M</p>
            </td>
            <td style="width:5px;"><p class="solid" align="center" style="width:15px;" class="b">X</p></td>
            <td style="width:10px;">
                <p class="b">F</p>
            </td>
            <td style="width:50px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            </td>
            <td style="width:50px;">
                <p class="b">EDAD</p>
            </td>
            <td style="width:100px;">
                <p class="b"><b><u>52 AÑOS</u></b></p>
            </td>
        </tr>

    </table>

    <table>
        <tr>
            <td style="width:140px;">
                <p class="b">
                    RALJ681004UN3<br>
                    _____________________<br>
                    R.F.C.
                </p>
            </td>
            <td style="width:250px;">
                <p class="b">
                    04/10/1968<br>
                    _____________________<br>
                    FECHA DE NACIMIENTO
                </p>
            </td>
            <td style="height:30px;">
                <p class="b">
                    ZACATECAS<br>
                    _________________________<br>
                    ENTIDAD FEDERATIVA DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    MÉXICO<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    MEXICANA<br>
                    _____________________<br>
                    NACIONALIDAD
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:80px;">
                <p class="b">
                    RALJ681004HZSMPS06<br>
                    _____________________<br>
                    CURP
                </p>
            </td>
            <td style="width:80px;">
                <p class="b">
                    1637046406874<br>
                    _____________________<br>
                    FOLIO I.N.E
                </p>
            </td>
            <td style="height:30px;">
                <p class="b">
                    <br>
                    _________________________<br>
                    CLAVE ELECTOR I.N.E.

                </p>
            </td>
            <td style="width:100px;">
                <p class="b">
                    MÉXICO<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:100px;">
                <p class="b">
                    dejesusperezjosedaniel@gmail.com<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    4921048265<br>
                    _______________<br>
                    TELÉFONO
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    4921048265<br>
                    _____________<br>
                    TELÉFONO
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:200px;">
                <p class="b">
                    RALJ681004HZSMPS06<br>
                    _____________________<br>
                    DOMICILIO PARTICULAR (CALLE Y NÚMERO)
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    1637046406874<br>
                    _____________________<br>
                    COLONIA
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    <br>
                    ______<br>
                    C.P.

                </p>
            </td>
            <td style="width:300px;">
                <p class="b">
                    VILLA DE COS, ZACATECAS, MÉXICO<br>
                    _____________________<br>
                    (MUNICIPIO, POBLACIÓN, ESTADO, PAÍS)

                </p>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td style="width:150px;">
                <p class="b">
                    TIEMPO DE RESIDIR:
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    <u> 18 AÑOS</u>
                </p>
            </td>

            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    Propia
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    Rentada
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    prestada
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    VIVE C/PAPAS
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    LA CASA ESTA:
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    LIBRE
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    GRAVADA
                </p>
            </td>
        </tr>
    </table>
    <p class="b"> SI ES RENTADA PROPORCIONE: </p>
    <table>
        <tr>
            <td style="width:250px;">
                <p class="b">
                    <br>
                    ______________________________<br>
                    NOMBRE DEL ARRENDADOR
                </p>
            </td>
            <td style="width:250px;">
                <p class="b">
                    <br>
                    _______________________________<br>
                    DOMICILIO DEL ARRENDADOR
                </p>
            </td>
            <td style="width:250px;">
                <p class="b">
                    <br>
                    _______________________________<br>
                    TELEFONO DEL ARRENDADOR
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:200px;">
                <p class="b">
                    ESTADO CIVIL
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    SOLTERO
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    CASADO
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    DIVORCIADO
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    UNION LIBRE
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            <td style="width:50px;">
                <p class="b">
                    VIUDO
                </p>
            </td>

            <td style="width:250px;">
                <p class="b">
                    NÚMERO DE DEPENDIENTES ECONOMICOS___________
                </p>
            </td>
        </tr>
    </table>

    <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
        DATOS DE CÓNYUGE
    </p>
    <table>
        <tr>
            <td style="width:150px;">
                <p class="b">
                    <br>
                    _____________________<br>
                    NOMBRE CONYUGE
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    <br>
                    _____________________<br>
                    FAPELLIDO PATERNO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    <br>
                    _____________________<br>
                    APELLIDO MATERNO
                </p>
            </td>
            <td style="width:10px;">
                <p class="b">M</p>
            </td>
            <td style="width:5px;"><p class="solid" align="center" style="width:15px;" class="b">X</p></td>
            <td style="width:10px;">
                <p class="b">F</p>
            </td>
            <td style="width:50px;"><p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p></td>
            </td>
            <td style="width:200px;">
                <p class="b">
                    <br>
                    _____________________<br>
                    EDAD CONYUGE
                </p>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td style="width:150px;">
                <p class="b">
                    RALJ681004UN3<br>
                    _____________________<br>
                    R.F.C.
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    04/10/1968<br>
                    _____________________<br>
                    FECHA DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    ZACATECAS<br>
                    _____________________<br>
                    ENTIDAD FEDERATIVA DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    MÉXICO<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    MEXICANA<br>
                    _____________________<br>
                    NACIONALIDAD
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:80px;">
                <p class="b">
                    RALJ681004HZSMPS06<br>
                    _____________________<br>
                    CURP
                </p>
            </td>
            <td style="width:80px;">
                <p class="b">
                    1637046406874<br>
                    _____________________<br>
                    FOLIO I.N.E
                </p>
            </td>
            <td style="height:30px;">
                <p class="b">
                    <br>
                    _________________________<br>
                    CLAVE ELECTOR I.N.E.

                </p>
            </td>

            <td style="width:100px;">
                <p class="b">
                    dejesusperezjosedaniel@gmail.com<br>
                    _____________________<br>
                    CORREO ELECTRONICO
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    4921048265<br>
                    _______________<br>
                    LÉFONO (NO CELULAR)
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    4921048265<br>
                    _____________<br>
                    OTRO TELÉFONO
                </p>
            </td>
        </tr>
    </table>
    <table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            REFERENCIAS PERSONALES MAS CERCANOS (QUE NO VIVAN EN EL MISMO DOMICILIO)
        </p>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        FAMILIAR DEL SOLICITANTE

                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        ___________________________<br>
                        NOMBRE COMPLETO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        DOMICILIO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELEFONO
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        PRIMERA
                        REFERENCIA

                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        ___________________________<br>
                        NOMBRE COMPLETO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        DOMICILIO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELEFONO
                    </p>
                </td>
            </tr>
        </table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            RABAJO ACTUAL DEL SOLICITANTE
        </p>
        <table>
            <tr>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        NOMBRE DE LA EMPRESA O NEGOCIO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ACTIVIDAD O GIRO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TIPO DE EMPLEADO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ESCOLARIDAD

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        DOMICILIO (CALLE , NÚMERO)
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        JEFE INMEDIATO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ANTIGUEDAD

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        INGRESOS MENSUALES COMPROBABLES
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        OTROS INGRESOS
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        CONCEPTO OTROS INGRESOS
                    </p>
                </td>

            </tr>
        </table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            BIENES MUEBLES E INMUEBLES QUE POSEE Y EROGACIONES
        </p>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        VALOR DE CASA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        SALDO DE HIPOTECA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        VALOR/RENTA HIPOTECA

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:50px;">
                    <p class="b">
                        AUTOMÓVIL

                    </p>
                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width:50px;">
                    <p class="b">
                        SI
                    </p>

                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width150px;">
                    <p class="b">
                        NO
                    </p>

                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width:50px;">
                    <p class="b">
                        PROPIO
                    </p>

                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width:50px;">
                    <p class="b">
                        PAGANDOLO
                    </p>

                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        MARCA
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        MODELO
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        SEGURO
                    </p>
                <td style="width:30px;heith:5px;">

                    <p class="b">SI</p>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                <td style="width:30px;heith:5px;">

                    <p align="center" class="b">NO</p>
                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>

            </tr>
        </table>
        <table>
            <tr>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        SALDO
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        MENSUALIDAD
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        EMPRESA FINANCIADORA
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO
                    </p>
                </td>
            </tr>
        </table>


        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            TRABAJO ACTUAL DEL CÓNYUGE

        </p>
        <table>
            <tr>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        NOMBRE DE LA EMPRESA O NEGOCIO
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        PUESTO O ACTIVIDAD
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ESCOLARIDAD

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________________<br>
                        DOMICILIO (CALLE,NÚMERO)
                    </p>
                </td>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        JEFE INMEDIAT
                    </p>
                </td>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO


                    </p>
                </td>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ANTIGUEDAD
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        __________________________<br>
                        INGRESOS MENSUALES COMPROBABLES
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _______________________<br>
                        OTROS INGRESOS
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        ______________________________<br>
                        CONCEPTO OTROS INGRESOS
                    </p>
                </td>
            </tr>
        </table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            FORMA DE ENTREGA DE RECURSOS
        </p>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  EN TARJETA BANCARIA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  POR TRANSFERENCIA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        BANCO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        ____________________
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  CHEQUE
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  PAGO EN VENTANILLA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        No. CUENTA O CTA. CLABE
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        ____________________
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  OTRO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        _______________________________
                    </p>
                </td>
            </tr>
        </table>
        <table class="data">
            <tr>
                <th width="400" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        DECLARATORIA DE REALIZACIÓN DE OPERACIONES POR CUENTA PROPIA
                    </p>
                </th>
            </tr>

        </table>
        <table class="data">
            <tr>
                <td width="400">
                    <p align="left" class="b">
                        ¿DECLARA USTED QUE LAS OPERACIONES REALIZADAS CON LA INSTITUCION SON REALIZADAS POR CUENTA PROPIA Y QUE NO OPERA
                        A NOMBRE DE NINGÚN TERCERO YA SEA PERSONA FÍSICA O MORAL?
                    </p>
                    <p align="left" class="b">
                        EN CASO DE NEGATIVA, INDICAR AL PROPIETARIO REAL DE LOS RECURSOS: ____________
                    </p>
                </td>
                <td width="100">
                    <p align="center" class="b">
                        [ ] SI
                    </p>
                </td>
                <td width="100">
                    <p align="center" class="b">
                        [ ] NO
                    </p>
                </td>
            </tr>

        </table>
        <table class="data">
            <tr>
                <th width="700" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        DECLARATORIA DE PERSONAS POLITÍCAMENTE EXPUESTAS
                    </p>
                </th>
            </tr>

        </table>
        <table class="data">
            <tr>
                <td width="700">
                    <p align="left" class="b">
                        ¿ES USTED O TIENE RELACIÓN DE PARENTESCO CON ALGÚN FUNCIONARIO PÚBLICO NACIONAL O EXTRANJERO EN FUNCIONES O QUE
                        EJERCIÓ FUNCIONES EN LOS ULTIMOS 12 MESES?
                    </p>
                </td>

                <td width="100">
                    <p align="center" class="b">
                        __________________
                    </p>
                </td>

            </tr>
            <tr>
                <td>
                    <br>
                    <p align="left" class="b">
                        EN CASO AFIRMATIVO: 1. NOMBRE COMPLETOFUNCIONARIO
                    </p>
                    <br>
                </td>
                <td>
                    <br>
                    <p align="left" class="b">
                        ____________________________
                    </p>
                    <br>
                </td>
            </tr>




        </table>
</body>
</html>