
<!doctype html>
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 12px;
        }

        u.b {
            font-family: Arial;
            font-size: 12px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }
    </style>
</head>

<body style="text-align: justify;">

    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="height:0pt; text-align:left; display:block; position:absolute; z-index:1;"><img src="https://myfiles.space/user_files/74326_110ad65ee8cab72e/1610490616_presupuesto-de-materiales/1610490616_presupuesto-de-materiales.002.png" width="404" height="57" alt="" style="margin: 0 0 0 auto; text-align: right; display: block; "></span><img src="https://myfiles.space/user_files/74326_110ad65ee8cab72e/1610490616_presupuesto-de-materiales/1610490616_presupuesto-de-materiales.001.png" width="133" height="64" alt="Descripción: 2013-12-20-18-21-33_Logo Apreicia Hor - Sin Fondo" style="float: right; text-align: right; display: inline-block; "></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>

    <p align="right" style="font-family:Calibri; color:#552988;">En:______________________a_______de____________del______________</p>

    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;"><span style="font-family:Calibri; color:#552988;">&nbsp;</span></p>

    <div style="text-align:center;">
        <table cellpadding="0" cellspacing="0" style="width:440.15pt; margin-right:auto; margin-left:auto; border:0.75pt solid #000000; border-collapse:collapse;">
            <tbody>
                <tr>
                    <td style="width:159.3pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#00a4e4;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><strong><span style="font-family:Calibri; color:#ffffff;">Descripci&oacute;n Material</span></strong></p>
                    </td>
                    <td style="width:88.4pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#00a4e4;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><strong><span style="font-family:Calibri; color:#ffffff;">Precio Unitario</span></strong></p>
                    </td>
                    <td style="width:74.25pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#00a4e4;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><strong><span style="font-family:Calibri; color:#ffffff;">Cantidad</span></strong></p>
                    </td>
                    <td style="width:74.25pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#00a4e4;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><strong><span style="font-family:Calibri; color:#ffffff;">Total</span></strong></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">$</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr style="height:19.85pt;">
                    <td style="width:159.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#5b9bd5;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#ffffff;">&nbsp;</span></p>
                    </td>
                    <td style="width:88.4pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#5b9bd5;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#ffffff;">&nbsp;</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#5b9bd5;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#ffffff;">Total de Materiales</span></p>
                    </td>
                    <td style="width:74.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                        <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">$</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">La MANO DE OBRA, se realizar&aacute; por mutuo acuerdo y a la designaci&oacute;n del acreditado para</span><span style="font-family:Arial; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Arial; color:#552988;">por un monto de</span><span style="font-family:Arial; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Arial; color:#552988;">$________________________________.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:12pt;"><span style="font-family:Arial; color:#552988;">En caso de que</span><span style="font-family:Arial; color:#552988;">&nbsp;&nbsp;</span><span style="font-family:Arial; color:#552988;">la MANO DE OBRA exceda el porcentaje asignado monto de cr&eacute;dito, deber&aacute; ser cubierta por el acreditado.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:200%; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:11pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:200%; font-size:11pt;"><u><span style="width:35.4pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:35.4pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:35.4pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:35.4pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:35.4pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u><u><span style="width:35.4pt; font-family:'Lucida Console'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></u></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:200%; font-size:12pt;"><strong><span style="font-family:Arial; color:#552988;">Nombre completo y firma</span></strong><strong><span style="font-family:Arial; color:#552988;">&nbsp;&nbsp;</span></strong><strong><span style="font-family:Arial; color:#552988;">del acreditado</span></strong></p>
    <p style="margin-top:0pt; margin-bottom:10pt; line-height:115%; font-size:11pt;"><span style="font-family:Calibri;">&nbsp;</span></p>


</body>
</html>