
<!doctype html>
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 12px;
        }

        u.b {
            font-family: Arial;
            font-size: 12px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }
    </style>
</head>

<body style="text-align: justify;">
    <table>
        <tr>
            <td width="550px">
                <img align="left" src="C:\Users\DanielPerez\source\repos\ApiCreacionDocs\Img\APR_Firma_Hor_Fblanco_RGB.png" width="140" height="80" />
                <br>
            </td>
            <td>
                <p class="b"><b>Fecha de Otorgamiento:<br>Fecha de Vencimiento:</b></p>
            </td>
            <td><p>10/02/2020<br>10/02/2020</p></td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="200px"><b>No de Pagare</b></td>
            <td>2220028840</td>
        </tr>
        <tr>
            <td><b>Monto de Renovación:</b></td>
            <td>$ 3,151.77</td>
        </tr>
        <tr>
            <td><b>Tipo de Crédito:</b></td>
            <td>
                <p class="b">
                    ZAC AYTO VILLA COS CONFIANZA SEGURIDAD PUBLICA RENOVACION APRECIA
                    TU NOMINA
                <p>
            </td>
        </tr>
    </table>
    <p><b>Cliente</b></p>
    <table>
        <tr>
            <td width="200px"><b>Nombre Cliente:</b></td>
            <td>JESUS RAMOS LOPEZ</td>
        </tr>
        <tr>
            <td width="100px"><b>Domicilio:</b></td>
            <td>AMAPOLAS # 176 Int.</td>
        </tr>
        <tr>
            <td><b>Colonia:</b></td>
            <td>CHUPADEROS</td>
        </tr>
        <tr>
            <td><b>Ciudad:</b></td>
            <td>VILLA DE COS, ZACATECAS</td>
        </tr>
        <tr>
            <td><b>Telefono:</b></td>
            <td>4921048265</td>
        </tr>
    </table>

    <p align="center" class="b"><b>TABLA DE AMORTIZACIÓNES</b></p>
    <DIV align="center">
        <table>

            <tr style="background-color: #4682b4">
                <th>No</th>
                <th>Inicio</th>
                <th>Vencimiento</th>
                <th>Saldo Inicial</th>
                <th>Capital</th>
                <th>Interes</th>
                <th>IVA</th>
                <th>Subtotal</th>
                <th>Comisión</th>
                <th>Seguro</th>
                <th>Pago</th>
                <th>
                    Saldo
                    Final
                </th>
            </tr>
            <tr>
                <td>datos</td>
            </tr>
        </table>
        <hr>
        <p class="b">
            <b>
                JESUS RAMOS LOPEZ
            </b>
        </p>
        <p class="b">
            <b>Firma Cliente</b>
        <p>
    </DIV>
</body>
</html>