@model ApiCreacionDocs.Models.ModelsOuput.OutputPagare;
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 12px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }

        p.solid {
            border-style: solid;
        }
    </style>
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8">
</head>

<body style="text-align: justify;">
    <p align="center"><b>ESTIPULACIÓN A FAVOR DE FOMEPADE</b></p>
    <img align="left" src="C:\Users\DanielPerez\source\repos\ApiCreacionDocs\Img\APR_Firma_Hor_Fblanco_RGB.png" width="140" height="90" />
    <br>
    <br>
    <p style="margin:0;display:inline;float:left">CRÉDITO EN CUENTA CORRIENTE</p>
    <p style="margin:0;display:inline;float:right">FECHA DE SOLICITUD	______________</p>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <td></td>
            <td>
                <p class="solid" align="center" style="width:550px;background-color:#E6E6E6;">DATOS DEL SOLICITANTE</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p class="b">
                    DEPENDENCIA<br>
                    RETENEDORA DE<br>
                    PAGOS:
                </p>
            </td>
            <td>
                <p align="center" class="b">
                    TESORERIA
                </p>
                __________________________________________________________
            </td>
            <td><p class="b">ADSCRITO A:<p></td>
            <td>
                <p class="solid" align="center" style="width:250px;" class="b">SECRETARIA DE GOBIERNO</p>
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">NOMBRE:</p>
            </td>
            <td>
                <p align="center" class="b">
                    JESUS RAMOS LOPEZ
                </p>
                ____________________________________________________________
            </td>
            <td>
                <p class="b">CLAVE DEL EMPLEADO:</p>
            </td>
            <td>
                <p class="solid" align="center" style="width:150px;" class="b">669</p>
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                <br>
                <p class="b">DIRECCIÓN:</p>
            </td>
            <td>
                <p align="center" class="b">
                    AMAPOLAS # 176 INT. COLONIA: CHUPADEROS VILLA DE COS ZACATECAS
                </p>
                ____________________________________________________________________
            </td>
            <td>
                <p class="b"> CONTRATO NÚMERO: </p>
            </td>
            <td>
                <p class="solid" align="center" style="width:150px;" class="b">2220028840</p>
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">TELEFONO:</p>
            </td>
            <td>
                <p align="center" class="b">
                    4921048265&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;2481779528
                </p>
                ____________________________________________________________
                <P align="center" class="b">PARTICULAR &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;OFICINA</P>
            </td>
            <td>
                <p class="b"> PLAZO DEL CRÉDITO:</p>
            </td>
            <td>
                <table>
                    <tr>
                        <td><p class="b">Meses</p></td>
                        <td><p class="b">Quincenas</p></td>
                    </tr>
                    <tr>
                        <td><p class="solid" align="center" style="width:50px;" class="b">18</p></td>
                        <td><p class="solid" align="center" style="width:50px;" class="b">36</p></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">
                    PAGUESE A
                    FAVOR DE:
                </p>
            </td>
            <td>
                <p align="center" class="b">
                    FOMEPADE, S.A.P.I. DE CV, SOFOM E.N.R.
                <p>
                    ____________________________________________________________
            </td>
            <td>
                <p class="b">
                    MONTO DEL
                    PRÉSTAMO:
                <p>
            </td>
            <td>
                <p class="b">
                    SESENTA Y UNO MIL TRESCIENTOS
                    CUARENTA Y CUATRO PESOS CON 04/100 M.N.
                <p>
                    __________________________________
                <p class="b" align="center">CON LETRA</p>
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">
                    MECANISMO DE
                    PAGO:
                </p>
            </td>
            <td>
                <p align="center" class="b">
                    RANSFERENCIA INTERBANCARIA
                </p>
                ____________________________________________________________
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">BANCO:</p>
            </td>
            <td>
                <p align="center" class="b">
                    BBVA BANCOMER, S.A. DE C.V.
                </p>
                ____________________________________________________________
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">SUCURSAL:</p>
            </td>
            <td>
                <p align="center" class="b">
                    0715 OAXACA OXACA
                </p>
                ____________________________________________________________
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <br>
                <p class="b">
                    CUENTA DE
                    DEPÓSITO:
                </p>
            </td>
            <td>
                <p align="center" class="b">
                    NO DE CUENTA 0188202664, CLABE 012180001882026643
                </p>
                ____________________________________________________________<br>
                <p class="b" align="center">(CLABE BANCARIA)</p>

            </td>
            <td></td>
        </tr>
    </table>

    <p class="b">
        EL ACREDITADO INSTRUYE EN ESTE ACTO A "FOMEPADE, S.A.P.I. DE CV, SOFOM E.N.R." PARA QUE LA DISPOSICIÓN DE EFECTIVO A QUE SE HACE REFERENCIA
        EN EL PRESENTE INSTRUMENTO SE REALICE MEDIANTE DEPÓSITO POR TRANSFERENCIA ELECTRÓNICA, POR LO QUE EL ACREDITADO EXPRESAMENTE ACEPTA
        COMO COMPROBANTE DE PAGO DE LA CANTIDAD DEL CRÉDITO, ESTABLECIDA EN ESTE MISMO INSTRUMENTO, AL AMPARO DEL CONTRATO DE LÍNEA DE CRÉDITO
        CELEBRADO CON "FOMEPADE, S.A.P.I. DE CV, SOFOM E.N.R.", LOS DOCUMENTOS QUE EXPIDA LA INSTITUCIÓN DE CRÉDITO DESDE LA CUAL SE REALICE LA
        TRANSFERENCIA ELECTRÓNICA.
    </p>
    <p align="right" class="b">ZACATECAS, ZACATECAS A 10 DE FEBRERO DE 2020<p>
        <table>
            <tr>
                <td>
    <p class="b">
        PRESENTE:<br>
        SUSCRITO A:
    </p>
    <p class="b">JESUS RAMOS LOPEZ</p>
    ________________________________________________________
    <table>
        <tr>
            <td><p class="b">NOMBRE(S)&nbsp;&nbsp;&nbsp;&nbsp;APELLIDO PATERNO&nbsp;&nbsp;&nbsp;&nbsp;APELLIDO MATERNO</p></td>
        </tr>

    </table>
    <td>
        <table>
            <tr>
                <td><p align="center" style="width:50px;" class="b">SEXO</p></td>
                <td><p align="center" style="width:50px;" class="b">M</p></td>
                <td><p class="solid" align="center" style="width:30px;" class="b">X</p></td>
                <td><p align="center" style="width:50px;" class="b">F</p></td>
                <td><p class="solid" align="center" style="width:30px;" class="b">&nbsp;</p></td>
            </tr>
        </table>

    </td>
    </tr>
    <tr>
        <td>
            <p align="center" class="b">669</p>
            _______________________________________
            <p align="center" class="b">NÚMERO DE EMPLEADO</p>
        </td>
        <td>
            <p align="center" class="b">RALJ681004UN3</p>
            _______________________________________
            <p align="center" class="b">RFC</p>
        </td>

    </tr>
    <tr>
        <td>
            <p align="center" class="b">TESORERIA</p>
            __________________________________
            <p align="center" class="b">DEPENDENCIA RETENEDORA DE PAGOS</p>
        </td>
        <td>
            <p align="center" class="b">SEGURIDAD PUBLICA</p>
            __________________________________
            <p align="center" class="b">ÁREA</p>
        </td>
        <td>
            <p align="center" class="b">JUEZ DE BARANDILLA</p>
            __________________________________
            <p align="center" class="b">PUESTO</p>
        </td>
    <tr>
        </table>
        <p class="b">
            "HE CELEBRADO UN CONTRATO DE CRÉDITO CON "FOMEPADE, S.A.P.I. DE CV, SOFOM E.N.R." " POR UN IMPORTE DE $ 61,344.04 (SESENTA Y UNO MIL
            TRESCIENTOS CUARENTA Y CUATRO PESOS CON 04/100 M.N.), ASÍ COMO UNA COMISIÓN POR ADMINISTRACIÓN DEL CRÉDITO POR UN MONTO DE $ 4,140.72
            (***CUATRO MIL CIENTO CUARENTA PESOS CON 72/100 M.N.**) Y HE ADQUIRIDO UN SEGURO POR UN IMPORTE DE $ 9,439.20 (NUEVE MIL CUATROCIENTOS
            TREINTA Y NUEVE PESOS CON 20/100 M.N.) LO CUAL SUMA UN IMPORTE DE $ 74,923.96 (SETENTA Y CUATRO MIL NOVECIENTOS VEINTITRES PESOS CON
            96/100 M.N.) CANTIDAD QUE DEBO CUBRIR EN 36 PAGOS QUINCENALES POR LA CANTIDAD DE $ 2,081.22 (DOS MIL OCHENTA Y UNO PESOS CON 22/100 M.N.)
            CADA UNO.
            EN MI CARÁCTER DE TRABAJADOR DE SECRETARIA DE GOBIERNO, CON EL OBJETO DE FACILITAR EL PAGO A PLAZOS DEL CONTRATO DE CRÉDITO, DE
            MANERA IRREVOCABLE ESTIPULO A FAVOR DE FOMEPADE, S.A.P.I. DE CV, SOFOM E.N.R. EL DESCUENTO DE MI NOMINA DE CANTIDADES IGUALES A LAS
            QUE EXIGE MI OBLIGACIÓN DE PAGOS QUINCENALES QUE SE INDICAN EN EL PÁRRAFO QUE ANTECEDE, MISMOS QUE DEBERÁN SER DESCONTADOS POR
            TESORERIA EN APEGO A ESTA ESTIPULACIÓN Y ENTREGADOS A FOMEPADE, S.A.P.I. DE CV, SOFOM E.N.R. EN LA CUENTA BANCARIA 0188202664 O MEDIANTE
            TRANSFERENCIA BANCARIA A LA CLABE 012180001882026643. EL DESCUENTO DEBERÁ LLEVARSE A CABO UTILIZANDO LA CLAVE ÚNICA DE DEDUCCIÓN
            IDENTIFICADA CON EL NÚMERO DE CÓDIGO APRECIA FINANCIERA Y LA DENOMINACIÓN FOMEPADE.
        </p>
        <p class="b">
            LOS DESCUENTOS DEBERÁN SER REALIZADOS A PARTIR DE LA FECHA DE FIRMA DEL CONTRATO DE CRÉDITO QUE HE SUSCRITO, CON LA PERIODICIDAD
            QUINCENAL NECESARIA HASTA QUE QUEDE CUBIERTO EL CRÉDITO OTORGADO EN MI FAVOR.
        </p>
        <p class="b">
            LOS DESCUENTOS SE REALIZARAN DE LAS PERCEPCIONES QUE QUINCENALMENTE RECIBO. EN CASO DE QUE SE TERMINE LA RELACIÓN DE TRABAJO, ME
            OBLIGO AL PAGO TOTAL, RELEVANDO AL H. TESORERIA DE CUALQUIER RESPONSABILIDAD DE PAGO.
        </p>
        <p class="b" align="center">ATENTAMENTE</p>
        <p class="b" align="center">JESUS RAMOS LOPEZ</p>
        <p class="b" align="center">____________________________</p>
        <p class="b" align="center">NOMBRE Y FIRMA DEL TRABAJADOR ACREDITADO</p>
</body>
</html>